<p>Привет {{ name }},</p>
<p>Ниже ваш новый код подствеждения email'а</p>
<p>
    <a href="{{ confirmUrl }}">Подтвердить</a>
</p>

<p>Если вы не запрашивали это письмо, вы можете спокойно его игнорировать.</p>
