<p>Восстановление пароля</p>
<p>Чтобы завершить восстановление пароля, перейдите по ссылке ниже:</p>
<p>
    <a href="{{ recoveryUrl }}">Восстановить</a>
</p>

<p>Если вы не запрашивали это письмо, вы можете спокойно его игнорировать.</p>
