<p>Привет {{ name }},</p>
<p>Добро пожаловать в Jeszpy APP!</p>
<p>Пожалуйста, нажми на ссылку ниже что бы подтвердить email.</p>
<p>
    <a href="{{ confirmUrl }}">Подтвердить</a>
</p>

<p>Если вы не запрашивали это письмо, вы можете спокойно его игнорировать.</p>
